.img-property-slide-wrap-cover {
    margin-bottom: -90px;
}

::selection {
    background: yellow;
  }

  #extras {
    margin-left: 25%;
  }

  #highlights {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  #highlights li {
    list-style: none;
    margin-bottom: 20px;
    border-top: 1px solid #E2E2E2;
    padding: 10px;
  }

  #highlights a {
    display: block;
  }

  #viewer.spreads {
    top: 0;
    margin-top: 50px;
  }

  [ref="epubjs-mk"] {
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHg9JzBweCcgeT0nMHB4JyB2aWV3Qm94PScwIDAgNzUgNzUnPjxnIGZpbGw9JyNCREJEQkQnIGlkPSdidWJibGUnPjxwYXRoIGNsYXNzPSdzdDAnIGQ9J00zNy41LDkuNEMxOS42LDkuNCw1LDIwLjUsNSwzNC4zYzAsNS45LDIuNywxMS4zLDcuMSwxNS42TDkuNiw2NS42bDE5LTcuM2MyLjgsMC42LDUuOCwwLjksOC45LDAuOSBDNTUuNSw1OS4yLDcwLDQ4LjEsNzAsMzQuM0M3MCwyMC41LDU1LjQsOS40LDM3LjUsOS40eicvPjwvZz48L3N2Zz4=") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 0;
  }

  #pagination {
    margin: 5px 56px;
  }

  #next {
    float: right;
  }

  #navigation {
    margin-top: 100px;
  }

  #annotation_contents li {
    list-style: none;
    margin-bottom: 20px;
    border-top: 1px solid #E2E2E2;
    padding: 10px;
  }

  #annotation_contents li textarea {
    width: 60%;
    height: 100px !important;
  }